*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
  font: 16px/1.6 'Raleway', Arial, Helvetica, sans-serif;
  color: #fff;
  text-align:center;
  background: #222;
}

img {
    
    max-width: 100%;
  }



video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    opacity: 0.3; 
    -webkit-filter: blur(15px);
      -moz-filter: blur(15px);
      -o-filter: blur(15px);
      -ms-filter: blur(15px);
      filter: blur(15px);
    z-index: -1;
  }

  span {
    font-size: 24px;
    text-transform: uppercase;
    /* font-weight: 300; */
    
    
  }


h1,
h2,
h3,
h4,
h5
{
  line-height: 1.2;
  margin: 0 0 20px;
  font-weight: 600;
  text-transform:uppercase;
}

h1,
h2 {
  font-size: 32px;
}
h3 {
  font-size: 30px;
  font-weight: 600;
}
h4 {
  font-size: 22px;
  font-weight: 600;
}
h5 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 600;
}
h6 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 600;
}

.carousel-item img{
    width: 20rem;
    height: 20rem;
    object-fit: fill;

}

.card{
    background-color: black;

}

.contact-row,.input-field{
    margin-bottom: 5%;
}

.navbar{
  opacity: .7;
}

/*==============================================
04. WELCOME BLOCK CSS
================================================*/
.welcome-first{
  font-size: 32px;
  display: block;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-top: 30%;
}

.welcome-title{
  font-size: 80px;
  margin-bottom: 20px;
}

.animatee{
  font-size:larger ;
  
}

.bosluk{
  margin: 50% ;
}

.scroll-down{
  margin-top: 10%;
}

#submitButton{
  border-radius: 25%; 
  width: 22rem;
}  

/*==============================================
05. SERVİCES BLOCK CSS
================================================*/

.services-section{
  margin-bottom: 15%;
}


/*==============================================
05. MY WORK BLOCK CSS
================================================*/
.card{
  
  /* object-fit: fill; */
  /* min-width: 50ch; */
  height: calc(100% - 15px);
  margin-bottom: 15px;

}

